!!!
%html
  %head
    %title NeoX by Neohapsis
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
  %body.index.work_dashboard.active_admin.logged_in.work_namespace
    #wrapper
      #header.header
        %h1#site_title.site_title
          %a{:href => "/admin"} NeoX Admin 
      #title_bar.title_bar
        #titlebar_left
          %h2#page_title Admin | Sign In
        #titlebar_right
      - if flash.any?
        .flashes
          - if flash[:notice]
            .flash.flash_notice= flash[:notice]
          - if flash[:alert]
            .flash.flash_alert= flash[:alert]

      #active_admin_content.without_sidebar
        #main_content_wrapper
          #main_content
            = yield
